@use '../abstracts' as *;

main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;

  @include respond-to("desktop-grid") {
    grid-template-columns: 1fr 300px;
    align-items: start;

    aside {
      grid-column: 2;
      grid-row: 1;
      position: sticky;
      top: 1.5rem;
    }

    section {
      grid-column: 1;
    }
  }
}

section, aside {
  @include card-style;
}